body {
  background-color: rgb(9, 9, 46);
  color: white;
}

#about-container {
  z-index: 10;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about-me-container {
  height: 100%;
  flex: 1;
  display: flex;
}

#about-me {
  background: linear-gradient(
    to top,
    rgba(222, 77, 255, 0.548) 0%,
    rgba(39, 26, 141, 0.808) 50%,
    rgba(0, 106, 255, 0) 100%
  );
  border-radius: 10px;
  padding: 1.2% 2%;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 0%;
  margin-left: 2.5%;
  margin-right: 2%;
  margin-bottom: 3%;
  overflow: hidden;
}

.about-me-text {
  color: #87edff;
  margin-bottom: 1%;
}

.about-me-text p {
  font-size: 16px;
  line-height: 1.5;
}

#about-me-title {
  color: #24c39e;
  align-self: flex-start;
  margin-bottom: 2%;
}

@media only screen and (max-width: 1050px) {
  #about-me {
    margin-left: 20px;
    margin-right: 20px;
  }
  .about-me-text p {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 850px) {
  .about-me-text p {
    font-size: 14px;
    line-height: 1.5;
  }
  #about-me-title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 770px) {
  #about-me {
    margin-left: 20px;
    margin-right: 20px;
  }
  .about-me-text p {
    font-size: 13px;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 500px) {
  .about-me-text p {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 400px) {
  .about-me-text p {
    font-size: 11.5px;
    line-height: 1.4;
  }
  #about-me-title {
    font-size: 15px;
  }
}
